@model NBDv2.Models.Project

@{
    ViewData["Title"] = "Details";
    List<Inventory> Inventory = new List<Inventory>();
}
<a asp-action="Index" class="btn btn-dark">< Back</a>
<hr />
<h1>Plan Details</h1>


<hr />

<label>Project Bid Information</label>
<div class="border-secondary rounded row" style="border:solid">

    <div class="col-md-6">
        <dl class="row">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinishDate)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinishDate)
            </dd>

        </dl>
    </div>

    <div class="col-md-6">
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Desc)
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Desc)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Cost)
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Cost)
            </dd>
        </dl>
    </div>
</div>


<label>Project Team</label>
<div class="border-secondary rounded row" style="border:solid">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Designer)
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Designer.FullName)
            </dd>
        </dl>
    </div>


    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProjectEmployees);
            </dt>
            @{
                int teamSize = Model.ProjectEmployees.Count;
                if (teamSize > 0)
                {
                    string firstEmp = Model.ProjectEmployees.FirstOrDefault().Employee.FullName;
                    if (teamSize > 1)
                    {
                        string team = firstEmp;
                        var t = Model.ProjectEmployees.ToList();
                        @for (int ctr = 1; ctr < teamSize; ctr++)
                        {
                            team += ", " + t[ctr].Employee.FullName;
                        }
                        <dd class="col-sm-8">
                            @team;
                        </dd>
                    }

                    else
                    {
                        <dd class="col-sm-8">
                            @firstEmp;
                        </dd>
                    }
                }
            }
        </dl>
    </div>
</div>

<div>
    <label>Edit Team</label>
    <a asp-action="UpdateTeam" asp-route-id="@Model.ID" class="btn btn-outline-success">Edit</a>
</div>


<h4>Material Requirements</h4>
<div class="border-secondary rounded row" style="border:solid">
    <table class="table">
        <tr>
            <th colspan="8">Plants:</th>
        </tr>
        <tr>
            <th></th>
            <th>Quantity</th>
            <th>Code/Desc</th>
            <th>Size</th>
            <th>Unit</th>
            <th>Extended</th>
            <th>Delivery</th>
            <th>Install</th>
        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Plant")
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Material.Desc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Size)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.AvgNetPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatTotalPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatDelivery)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatInstall)</td>
                </tr>
            }
        }
        <tr>
            <th colspan="8">Pottery:</th>

        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Pottery")
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Material.Desc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Size)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.AvgNetPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatTotalPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatDelivery)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatInstall)</td>
                </tr>
            }
        }
        <tr>
            <th colspan="8">Materials:</th>
        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Material")
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Material.Desc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.Size)</td>
                    <td>@Html.DisplayFor(modelItem => item.Inventory.AvgNetPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatTotalPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatDelivery)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatInstall)</td>
                </tr>
            }
        }
    </table>
</div>

<div>
    <label>Edit Materials</label>
    <a asp-action="UpdateMaterials" asp-route-id="@Model.ID" class="btn btn-outline-success">Edit</a>
</div>

<h4>Labour Requirements</h4>
<div class="border-secondary rounded row" style="border:solid">
    <table class="table">

        <tr>

            <th>Description</th>
            <th>Hours</th>
            <th>Cost/Hr</th>
            <th>Total</th>
            <th>Time</th>
            <th>Tasks</th>
        </tr>
        @foreach (var item in Model.ProjectEmployees)
        {
            @foreach (var c in item.Labours)
            {
                <tr>
                    <th>@item.Employee.EmployeeType.Type</th>
                    <th>@c.Task.Hours</th>
                    <th>@item.Employee.EmployeeType.HourlyCost</th>
                    <th>@item.Employee.EmployeeType.HourlyCost</th>
                    <th>@c.Task.Hours</th>
                    <th>@c.Task.Desc</th>
                </tr>
            }
        }
    </table>
</div>

<div>
    <label>Edit Labours</label>
    <a asp-controller="ProjectLabours" asp-action="Index" asp-route-ProjectID="@Model.ID" class="btn btn-outline-success">Edit</a>
</div>


