@model NBDv2.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstFinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstFinishDate)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>*@

    </dl>

    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designer.FullName)
        </dd>
    </dl>


    <table>
        <tr>
            <th>Qnty</th>
            <th>Code/Desc</th>
            <th>Size</th>
            <th>Net/Unit</th>
            <th>Ext. Cost</th>
            <th>Deliver</th>
            <th>Install</th>
        </tr>
        @foreach (var c in Model.ProjectMaterials)
        {
            <tr>
                <td>@c.MatEstQty</td>
                <td>@c.Inventory.Material.Desc</td>
                <td>@c.Inventory.SizeValue @c.Inventory.SizeUnit</td>
                <td>@c.Inventory.AvgNetPrice</td>
                <td>@c.MatTotalPrice</td>
                <td>@c.MatDelivery</td>
                <td>@c.MatInstall</td>
            </tr>
        }
    </table>

    @*@foreach (var c in Model.Labour)
    {
        if(c.)
    }*@

    <table>
        <tr>
            <th>Desc</th>
            <th>Hours</th>
            <th>Cost/Hr</th>
            <th>Ext. Cost</th>
            <th>Time</th>
            <th>Tasks</th>
        </tr>
        @foreach (var c in Model.Labour)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

