@model NBDv2.Models.Project

@{
    ViewData["Title"] = "Details";
    List<Inventory> Inventory = new List<Inventory>();
}
	<div>
		<a asp-action="Index"><button class="btn btn-success">< Back</button></a>
	</div>
<hr />
<h1>Plan Details</h1>

<div>
    <hr />

    <label>Project Bid Information</label>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstFinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstFinishDate)
        </dd>
    </dl>

    <label>Project Team</label>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designer.FullName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designer.FullName)
        </dd>

        @foreach (var item in Model.ProjectEmployees)
        {
            <dt class="col-sm-2">
                @item.Employee.EmployeeType.Type
            </dt>
            <dd class="col-sm-10">
                @item.Employee.FullName
            </dd>
        }
    </dl>

    <label>Material Requirements</label>
    <table class="table">
        <tr>
            <th>Plants:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th>Quantity</th>
            <th>Code/Desc</th>
            <th>Size</th>
            <th>Unit</th>
            <th>Cost</th>
            <th>Delevery</th>
            <th>Install</th>
        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Plant")
            {
                <tr>
                    <td></td>
                    <td>@item.Inventory.Quantity</td>
                    <td>@item.Inventory.Material.Desc</td>
                    <td>@item.Inventory.Size</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.MatDelivery</td>
                    <td>@item.MatInstall</td>
                </tr>
            }
        }
        <tr>
            <th>Pottery:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Pottery")
            {
                <tr>
                    <td></td>
                    <td>@item.Inventory.Quantity</td>
                    <td>@item.Inventory.Material.Desc</td>
                    <td>@item.Inventory.Size</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.MatDelivery</td>
                    <td>@item.MatInstall</td>
                </tr>
            }
        }
        <tr>
            <th>Materials:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.ProjectMaterials)
        {
            @if (item.Inventory.Material.Type == "Material")
            {
                <tr>
                    <td></td>
                    <td>@item.Inventory.Quantity</td>
                    <td>@item.Inventory.Material.Desc</td>
                    <td>@item.Inventory.Size</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.Inventory.AvgNetPrice</td>
                    <td>@item.MatDelivery</td>
                    <td>@item.MatInstall</td>
                </tr>
            }
        }
    </table>

    <label>Labor Requirements</label>
    <table class="table">

        <tr>

            <th>Description</th>
            <th>Hours</th>
            <th>Cost/Hr</th>
            <th>Total</th>
            <th>Time</th>
            <th>Tasks</th>
        </tr>
        @foreach (var item in Model.ProjectEmployees)
        {



            @foreach (var c in item.Labours)
            {
                <tr>
                    <th>@item.Employee.EmployeeType.Type</th>
                    <th>@c.Task.Hours</th>
                    <th>@item.Employee.EmployeeType.HourlyCost</th>
                    <th>@item.Employee.EmployeeType.HourlyCost</th>
                    <th>@c.Task.Hours</th>
                    <th>@c.Task.Desc</th>
                </tr>

            }

        }
    </table>
    <dl>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><button class="btn btn-dark">Edit</button></a>
</div>

