@model NBDv2.Models.ProjectEmployee

@{
	ViewData["Title"] = "Details";
}
	<div>
		<a asp-action="Index"><button class="btn btn-success">< Back</button></a>
	</div>
<hr />
<h1>Teams</h1>
<hr />
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Project)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Project.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Employee)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Employee.FirstName)
		</dd>
	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.ID"><button class="btn btn-dark">Edit</button></a>
</div>
