@model IEnumerable<NBDv2.Models.ProjectEmployee>

@{
	ViewData["Title"] = "Index";
}


<div class="container">
	<div class="row">
		<div class="col-sm">
			<h1>Teams</h1>
		</div>
		<div class="col-sm text-right">
			<a asp-action="Create"><button class="btn btn-success btn-lg">New Team</button></a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Project)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employee)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				List<string> projects = new List<string>();
			}

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@{
							if (!projects.Contains(item.Project.Name))
							{
								@Html.DisplayFor(modelItem => item.Project.Name)
								projects.Add(item.Project.Name);
							}
						}
					</td>
					<td>
						@{
							int empCount = item.Employees.Count;
							if (empCount > 0)
							{
								string firstEmp = item.Employees.FirstOrDefault().FullName;
								if (empCount > 1)
								{
									string empList = "";
									var c = item.Employees.ToList();
									for (int i = 1; i < empCount; i++)
									{
										empList += c[i].FullName + " <br />";
									}
									<a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
										@firstEmp... <span class="badge badge-info">@empCount</span>
									</a>
									<div class="collapse" id="collapseSum@(item.ID)">
										@Html.Raw(empList)
									</div>
								}
								else
								{
									@firstEmp
								}
							}
							else
							{
								@Html.DisplayFor(modelItem => item.Employee.FullName)
							}
						}
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.ID"><button class="btn btn-outline-success float-right">Details</button></a>
						<a asp-action="Edit" asp-route-id="@item.ID"><button class="btn btn-outline-success float-right">Edit</button></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>