@model IEnumerable<NBDv2.Models.ProjectEmployee>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Teams</h1>
        </div>
        <div class="col-sm text-right">
            <a asp-action="Create"><button class="btn btn-success btn-lg">New Team</button></a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID"><button class="btn btn-outline-success float-right">Details</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>