@model NBDv2.ViewModel.ProdReportVM


@{
    ViewData["Title"] = "DailyReport";
}

<h1>DailyReport</h1>
<form asp-action="DailyReport">
    <div class="form-group">
        <label class="control-label">Select by Date:</label>
        <div class="form-row">
            <div class="col-md-6">
                @Html.DropDownList("FilterDate", null, new { @value = "filterDate", @class = "form-control" })
            </div>
            <div class="col-md-6">
                <button value="submit" class="btn btn-success btn-lg">Select</button>
            </div>
        </div>
    </div>
</form>

<hr />
<hr />
<div>
    <div id="materials">
        <h4>Materials Used</h4>
        <div class="border-secondary rounded" style="border:solid">
            @if (Model.Materials != null)
            {
                <table class="table">
                    <tr>
                        <th>Code</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Ext. Cost</th>

                    </tr>

                    @foreach (var item in Model.Materials)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Inventory.Material.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatActQty)</td>
                            <td>@Html.DisplayFor(modelItem => item.Inventory.AvgNetPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatTotalPrice)</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h5>No Materials Used Today</h5>
            }
        </div>
    </div>



    <div id="labours">
        <h4>Materials Used</h4>
        <div class="border-secondary rounded" style="border:solid">
            @if (Model.Labour == null)
            {
                <table>
                    @foreach (var item in Model.Labour)
                    {
                       
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Team.Employee.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Team.Employee.EmployeeType.HourlyPay)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExtPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.Task.Desc)</td>
                            </tr>
                        
                    }
                </table>
            }
            else
            {
                <h5>No Assignments Completed Today</h5>
            }
        </div>
    </div>
</div>

