@model IEnumerable<NBDv2.Models.Project>

@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Projects</h1>
            </div>
            <div class="col-sm text-right">
                <a asp-action="Create"><button class="btn btn-success btn-lg">New Project</button></a>
            </div>
        </div>
        

    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer.FullName)
            </td>
			<td>
				<a asp-action="Details" asp-route-id="@item.ID"><button class="btn btn-outline-success float-right">Details</button></a>
				<a asp-action="Edit" asp-route-id="@item.ID"><button class="btn btn-outline-success float-right">Edit</button></a>
			</td>
        </tr>
}
    </tbody>
</table>
