@model IEnumerable<NBDv2.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Bids</h1>
            </div>
            <div class="col-sm text-right">
                <a asp-action="Create"></a>
                <button class="btn btn-success btn-lg">New Bid</button>
            </div>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Desc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
