@model IEnumerable<NBDv2.Models.BidReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActlHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActlCosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostsRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActlHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActlCosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostsRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Desc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
